src/*.exe
src/academiccoin
src/academiccoind
src/test_academiccoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.academiccoin

# Compilation and Qt preprocessor part
*.qm
Makefile
academiccoin-qt
Academiccoin-Qt.app

# Unit-tests
Makefile.test
academiccoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
